/* 全体共通 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/* フォントサイズ*/
html {
  font-size: 20px;
}

/* 色クラス */
.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

/* h1装飾 */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;          
  letter-spacing: 1.2em;       
  text-shadow: 2px 2px 4px #aaa;
  border-bottom: 3px solid rgb(115, 115, 114);
}

/* basic内のpだけ太字にする */
#basic p {
  font-weight: bold;
}